# Python build files
build/
dist/
*.egg-info/

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Database
db.sqlite3

# OS files
.DS_Store
Thumbs.db

# Coverage / testing
.coverage
htmlcov/

# Gunicorn / runtime
*.pid